<% layout('layouts/boilerplate') %>
<section>
	<div class="row mb-5 d-none d-sm-block">
		<div class="col">
			<h1 class="text-center brandFont lgText">Superklok Labs</h1>
		</div>
	</div>
	<div class="row mb-5 d-block d-sm-none">
		<div class="col">
			<h1 class="text-center brandFont xsTitleText">Superklok Labs</h1>
		</div>
	</div>
</section>
<section>
	<div class="row">
		<div class="col">
			<h2 class="mdText contentFont ms-3 mb-3">&Agrave; propos:</h2>
		</div>
	</div>
	<div class="row">
		<div class="col mb-3 mb-lg-0">
			<div class="card shadow whiteBG">
				<div class="card-body">
					<h5 class="card-title mdText contentFont pt-2 ms-3">L'entreprise:</h5>
					<p class="card-text smText contentFont">Superklok Labs se sp&eacute;cialise dans la cr&eacute;ation des applications JavaScript, l'h&eacute;bergement web, traduction d'anglais vers fran&#231;ais, l'entretien d’a&eacute;ronefs, production de musique, r&eacute;alisation vid&eacute;o et conception graphique. Le d&eacute;veloppement d'applis est r&eacute;alis&eacute; &agrave; l'aide de React, Redux, React Router, Express, JavaScript, CSS, HTML, Node, Mongo et Firebase. La conteneurisation des applications traditionnelles est r&eacute;alis&eacute;e &agrave; l'aide de Docker et l'orchestration des conteneurs est administr&eacute;e avec Kubernetes.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row my-lg-3">		
		<div class="col mb-3 mb-lg-0">
			<div class="card shadow whiteBG">
				<div class="card-body">
					<h5 class="card-title mdText contentFont pt-2 ms-3">Contactez-nous:</h5>
					<p class="card-text smText contentFont">N'h&eacute;sitez pas &agrave; contacter <a href="mailto:info@superklok.ca">info@superklok.ca</a> pour obtenir des renseignements g&eacute;n&eacute;raux. Veuillez contacter <a href="mailto:trev@superklok.ca">trev@superklok.ca</a> si vous avez besoin d'un code de membre pour Swingcars ou un code d'auteur pour Le Current Courant. Toute correspondance est disponible en fran&#231;ais et en anglais.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="row">
		<div class="col">
			<h2 class="mdText contentFont ms-3 mb-3">Services:</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6 mb-3 mb-lg-0">
			<div class="card shadow whiteBG">
				<div class="card-body">
					<h5 class="card-title mdText contentFont pt-2 ms-3">Cr&eacute;ation d'appli</h5>
					<p class="card-text smText contentFont">Cr&eacute;ation des applis JavaScript qui sont distingu&eacute;es par des choix de conception originaux. Toutes les applications sont cr&eacute;&eacute;es avec un fichier YAML Docker-Compose et un Dockerfile &agrave; multiples &eacute;tages afin de faciliter le d&eacute;ploiement.</p>
				</div>
			</div>
		</div>
		<div class="col-lg-6 mb-3 mb-lg-0">
			<div class="card shadow whiteBG">
				<div class="card-body">
					<h5 class="card-title mdText contentFont pt-2 ms-3">Conteneurisation Docker</h5>
					<p class="card-text smText contentFont">Am&eacute;liorer des applications existantes en les transformant en images, puis capturant des instances en cours d'ex&eacute;cution, appel&eacute;es conteneurs, &agrave; l'aide de Docker. Cela am&eacute;liore la modularit&eacute; et facilite la compatibilit&eacute; entre plateformes.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row my-lg-3">
		<div class="col-lg-6 mb-3 mb-lg-0">
			<div class="card shadow whiteBG">
				<div class="card-body">
					<h5 class="card-title mdText contentFont pt-2 ms-3">Orchestration Kubernetes</h5>
					<p class="card-text smText contentFont">Une fa&#231;on excellente de g&eacute;rer vos conteneurs est de les orchestrer en pods &agrave; l'aide de Kubernetes. Cela vous permet de stocker des secrets, d'obtenir des certificats SSL et d'&eacute;tendre rapidement une appli &agrave; travers nombreux nodes.</p>
				</div>
			</div>
		</div>
		<div class="col-lg-6 mb-3 mb-lg-0">
			<div class="card shadow whiteBG">
				<div class="card-body">
					<h5 class="card-title mdText contentFont pt-2 ms-3">Conception web</h5>
					<p class="card-text smText contentFont">Conception du c&ocirc;t&eacute; client des sites web fabriqu&eacute;s avec JavaScript &agrave; l'aide de la biblioth&egrave;que React et exploitant la puissance compl&egrave;te de CSS flexbox afin de cr&eacute;er des applis personnalis&eacute;s et r&eacute;actifs. Contactez <a href="mailto:sales@superklok.ca">sales@superklok.ca</a> pour r&eacute;server une consultation.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row my-lg-3">
		<div class="col-lg-6 mb-3 mb-lg-0">
			<div class="card shadow whiteBG">
				<div class="card-body">
					<h5 class="card-title mdText contentFont pt-2 ms-3">Traduction en anglais</h5>
					<p class="card-text smText contentFont">Traduction compl&egrave;te du fran&#231;ais vers l'anglais. Cela inclut le contenu ou la documentation du c&ocirc;t&eacute; client ainsi que les messages d'erreur du c&ocirc;t&eacute; serveur et la nomenclature de programmation.</p>
				</div>
			</div>
		</div>
		<div class="col-lg-6 mb-3 mb-lg-0">
			<div class="card shadow whiteBG">
				<div class="card-body">
					<h5 class="card-title mdText contentFont pt-2 ms-3">Conception graphique</h5>
					<p class="card-text smText contentFont">Modification d'images, cr&eacute;ation d'images personnalis&eacute;es ou &eacute;dition subtile de photos &agrave; l'aide de DxO PhotoLab 4 Elite. Personnalisation de l'UX pour transmettre de messagerie &agrave; l'utilisateur avec le contenu visuel.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row my-lg-3">
		<div class="col-lg-6 mb-3 mb-lg-0">
			<div class="card shadow whiteBG">
				<div class="card-body">
					<h5 class="card-title mdText contentFont pt-2 ms-3">Production de musique</h5>
					<p class="card-text smText contentFont">Tous les titres trouv&eacute;s sur <a href="http://superklok.ca/">superklok.ca</a> peuvent &ecirc;tre licenci&eacute;s pour &ecirc;tre utilis&eacute;s ou ils peuvent &eacute;galement &ecirc;tre t&eacute;l&eacute;charg&eacute;s gratuitement. Veuillez envoyer un courriel &agrave; <a href="mailto:sales@superklok.ca">sales@superklok.ca</a> pour obtenir un devis sur une licence exclusive pour un morceau personnalis&eacute;. La musique de Superklok est produite avec FL Studio All Plugins Edition.</p>
				</div>
			</div>
		</div>
		<div class="col-lg-6 mb-3 mb-lg-0">
			<div class="card shadow whiteBG">
				<div class="card-body">
					<h5 class="card-title mdText contentFont pt-2 ms-3">R&eacute;alisation vid&eacute;o</h5>
					<p class="card-text smText contentFont">Les vid&eacute;os publi&eacute;es sur les r&eacute;seaux sociaux de Superklok Labs sont toutes trait&eacute;es et r&eacute;alis&eacute;es avec Adobe After Effects. L'enregistrement d'&eacute;cran est effectu&eacute; avec Mirillis Action! et le montage final est encod&eacute; avec HandBrake avant t&eacute;l&eacute;chargement.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="row">
		<div class="col">
			<h2 class="mdText contentFont ms-3 mb-3">Projets:</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4 mb-3 mb-lg-0">
			<div class="card shadow whiteBG">
				<div class="card-body">
					<img src="../assets/img/screens/SwingcarsPointCaScreen.jpg" class="card-img-top rounded" alt="">
					<h5 class="card-title mdText contentFont pt-2 ms-3"><a href="http://swingcars.ca">Swingcars</a></h5>
					<p class="card-text smText contentFont">Ce concept a &eacute;t&eacute; imagin&eacute; pour exploiter un style d'&eacute;l&eacute;ments n&eacute;on dans la soir&eacute;e, de moyen qu'il ressemble &agrave; un autre type de site web au premier coup d'&oelig;il. Swingcars a &eacute;t&eacute; d&eacute;velopp&eacute; avec Mongo, Express et Node.</p>
				</div>
			</div>
		</div>
		<div class="col-lg-4 mb-3 mb-lg-0">
			<div class="card shadow whiteBG">
				<div class="card-body">
					<img src="../assets/img/screens/CurrentCourantPointCaScreen.jpg" class="card-img-top rounded" alt="">
					<h5 class="card-title mdText contentFont pt-2 ms-3"><a href="http://currentcourant.ca">Le Current Courant</a></h5>
					<p class="card-text smText contentFont">Ce concept est cens&eacute; &ecirc;tre une appli journalistique o&ugrave;, au lieu des boutons traditionnels, des mots flottent hors de la page pour que l'utilisateur appuie dessus. Le Current Courant a &eacute;t&eacute; d&eacute;velopp&eacute; avec Mongo, Express et Node.</p>
				</div>
			</div>
		</div>
		<div class="col-lg-4 mb-3 mb-lg-0">
			<div class="card shadow whiteBG">
				<div class="card-body">
					<img src="../assets/img/screens/JetWheelReelPointCaScreen.jpg" class="card-img-top rounded" alt="">
					<h5 class="card-title mdText contentFont pt-2 ms-3"><a href="http://jetwheelreel.ca">Jet Wheel Reel</a></h5>
					<p class="card-text smText contentFont">Ce concept est construit pour para&icirc;tre comme un hangar dans les nuages o&ugrave; un jet priv&eacute; s'arr&ecirc;te pour effectuer un changement de roue. Jet Wheel Reel a &eacute;t&eacute; d&eacute;velopp&eacute; avec Express et Node.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row my-lg-3">
		<div class="col-lg-4 mb-3 mb-lg-0">
			<div class="card shadow whiteBG">
				<div class="card-body">
					<img src="../assets/img/screens/TrevMorinPointCaScreen.jpg" class="card-img-top rounded" alt="">
					<h5 class="card-title mdText contentFont pt-2 ms-3"><a href="http://trevmorin.ca">TrevMorin.ca</a></h5>
					<p class="card-text smText contentFont">Ce concept utilise le z-index pour faire ressemblance &agrave; l'espace et il fournit des d&eacute;tails suppl&eacute;mentaires concernant tous les projets de Superklok Labs. TrevMorin.ca a &eacute;t&eacute; d&eacute;velopp&eacute; avec Express et Node.</p>
				</div>
			</div>
		</div>
		<div class="col-lg-4 mb-3 mb-lg-0">
			<div class="card shadow whiteBG">
				<div class="card-body">
					<img src="../assets/img/screens/SuperklokLabsPointCaScreen.jpg" class="card-img-top rounded" alt="">
					<h5 class="card-title mdText contentFont pt-2 ms-3"><a href="http://superkloklabs.ca">Superklok Labs</a></h5>
					<p class="card-text smText contentFont">Ce concept a &eacute;t&eacute; con&#231;u pour faire ressemblance &agrave; l'&eacute;criture en encre de stylo noir et bleu sur des morceaux de papier parchemin plac&eacute;s au-dessus un circuit imprim&eacute;. Le site web de Superklok Labs a &eacute;t&eacute; d&eacute;velopp&eacute; avec Express et Node.</p>
				</div>
			</div>
		</div>
		<div class="col-lg-4 mb-3 mb-lg-0">
			<div class="card shadow whiteBG">
				<div class="card-body">
					<img src="../assets/img/screens/SliderPilerPointCaScreen.png" class="card-img-top rounded" alt="">
					<h5 class="card-title mdText contentFont pt-2 ms-3"><a href="http://sliderpiler.ca">Slider Piler</a></h5>
					<p class="card-text smText contentFont">Ce concept est actuellement en d&eacute;veloppement pour faire ressemblance &agrave; une combinaison du style heavy m&eacute;tal classique et un resto d'hamburger &agrave; l'ancienne. Slider Piler est en cours de d&eacute;veloppement en utilisant React, Redux, React Router, Node et Firebase.</p>
				</div>
			</div>
		</div>
	</div>
</section>