<div class="btn-group dropup ms-1">
	<a type="button" class="dropdown-toggle slBtn2" data-bs-toggle="dropdown" aria-expanded="false">
		<span id="tmLogo">TM</span>
	</a>
	<ul class="dropdown-menu shadow dropBG">
		<li id="tmDotLink" class="my-0 pt-0 pb-2">
			<a class="slBtn2 mx-4" href="http://www.trevmorin.ca/"><span class="tmLgText">T</span><span class="tmSmText">rev</span><span class="tmLgText">M</span><span class="tmSmText">orin</span><span class="tmComText">.CA</span></a>
		</li>
		<li class="mb-2 pb-1">
			<a class="slBtn2 mx-4" href="http://www.jetwheelreel.ca/"><span id="jwrText">JetWheelReel.ca</span></a>
		</li>
		<li class="mt-0 mb-1 pt-0 pb-1">
			<a class="slBtn2 mx-4" href="http://www.currentcourant.ca/"><span id="ccText">CurrentCourant.ca</span></a>
		</li>
		<li class="mt-0 mb-1 pt-0 pb-2">
			<a class="slBtn2 mx-4" href="http://www.swingcars.ca/"><span id="scText">Swingcars.ca</span></a>
		</li>
		<li class="mt-0 mb-3">
			<a class="slBtn2 mx-4" href="http://www.sliderpiler.ca/"><span id="spText">SliderPiler.ca</span></a>
		</li>
	</ul>
</div>
<div class="btn-group dropup ms-3">
	<a type="button" class="dropdown-toggle slBtn2" data-bs-toggle="dropdown" aria-expanded="false">
		<span class="smText contentFont">Fran&#231;ais</span>
	</a>
	<ul class="dropdown-menu shadow dropBG">
		<li class="mx-4 my-3 px-3">
			<a class="smText contentFont" href="http://www.superkloklabs.com/">English</a>
		</li>
	</ul>
</div>